/* css for the assign task page */

*{
    font-family: sans-serif;
    font-size: 25px;
}

.container{
    color: black;
    background: white;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    border-radius: 20px;
}

