{% extends './base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
<link rel="stylesheet" href="{% static 'css/password-reset.css' %}"> 
<title>Password Reset</title>

<!-- First reset password page, asks user for their email to reset their password -->
{% endblock head %}
{% block page-content %}
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
{% load crispy_forms_tags %}
<h2 class="font-weight-bold mt-3" style="text-align: center;">Reset Password</h2>
<div class="container">

    <p>Forgotten your password or a first time user? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <br>
        <button class="btn btn-primary" type="submit">Send email</button>
    </form>
</div>

<style>
    .nav-open{
        display: none;
    }
</style>
</body>

</html>
{% endblock page-content %}
