{% extends './base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/password-reset.css' %}"> />
<title>Password reset</title>

<!-- Page when user is taken to after they have entered their email to reset their password -->
{% endblock head %}
{% block page-content %}
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<h2 class="font-weight-bold mt-3" style="text-align: center;">Password reset sent</h2>
<div class="container">
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
</div>
</body>

</html>
{% endblock page-content %}