{% extends './base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/password-reset.css' %}"> />
<title>password reset</title>

<!-- page where user is directed to from reset password email,
asks user to enter a new password and confirm it -->
{% endblock head %}
{% block page-content %}
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
{% load crispy_forms_tags %}

<!--Password Reset Confirm-->
<h2 class="font-weight-bold mt-3" style="text-align: center;">Password Reset Confirm</h2>
<div class="container">
    <p>Please enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button class="btn btn-primary" type="submit">Reset password</button>
    </form>
</div>
</body>

</html>
{% endblock page-content %}